.register-container {
  background-color: #1198B7;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  padding: 0;
}


/* Layout */
.row {
  width: 100%;
  margin: 0;
  min-height: 100vh;
}


/* LEFT CARD */
.left-side {
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  min-height: 85vh;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
   border-right: 10px solid #1198B7;
}

/* Logo + Title */
.logo-title-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.logo {
  width: 40px;
}

.heart-title h1 {
  font-size: 30px;
  font-weight: 800;
  color: #183746;
  margin: 0;
}

/* RIGHT CARD */
.right-side {
  border-radius: 30px ;
  background: #f5f9ff;
  min-height: 85vh;
  padding: 20px 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.left-side,
.right-side {
  padding: 40px;
}

/* FORM WRAPPER */
.register-content {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

/* TITLE */
.register-content h2 {
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(to right, #21444b, #1198B7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* INPUTS */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  height: 52px;
  padding: 0 45px 0 18px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid #d6dee5;
  background-color: #f9fbfd;
  transition: 0.3s;
}

.input-group input:focus {
  outline: none;
  border-color: #1198B7;
  box-shadow: 0 0 8px rgba(17,152,183,0.25);
  background-color: #fff;
}

/* ICONS */
.input-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #21444b;
}

/* BUTTON */
.btn-gradient {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  background: linear-gradient(90deg, #1198B7, #77bac5);
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-gradient:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* LOGIN LINK */
.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #666;
}

.login-link a {
  color: #1198B7;
  text-decoration: none;
  margin-left: 5px;
  font-weight: 500;
}

.login-link a:hover {
  text-decoration: underline;
}

/* SOFT BACKGROUND SHADOWS */
.shadow-top-end,
.shadow-bottom-start {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  pointer-events: none;
}

.shadow-top-end {
  top: -180px;
  right: -180px;
  background: radial-gradient(circle, rgba(120,161,183,0.35), transparent 60%);
}

.shadow-bottom-start {
  bottom: -180px;
  left: -180px;
  background: radial-gradient(circle, rgba(120,161,183,0.35), transparent 60%);
}
